@import url("https://fonts.googleapis.com/css2? family= Oswald & family= Radio+Canada:ital,wght@0,300;1,300 & display=swap");

:root {
  --fonte: Radio Canada;
  --header-color: #a1bba2;
  --footer-color: #a1bba2;
  --list-color: #a1bba2;
  --fonte-color: #000000;
  --main-color: #ffffff;
}

body {
  color: var(--fonte-color);
  background-color: var(--main-color);
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: var(--header-color);
  max-width: 100%;
  padding: 35px;
  overflow: hidden;
}

header h1 {
  float: left;
}

main ul li {
  background-color: var(--list-color);
  padding: 10px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.container {
  float: right;
  display: block;
  width: 85%;
  padding: 50px;
}
main div p{
  padding: 5px;
}

footer {
  background-color: var(--footer-color);
  width: 100%;
  padding: 25px;
  bottom: 0;
  position: fixed;
}

.lista {
  display: block;
  width: 15%;
  float: left;
  padding: 20px;
}
main {
  display: inline;
  width: 100%;
}
